
! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #05104d, #01fefe, #3751da
rofi.color-normal: #05104d, #01fefe, #05104d, #3751da, #01fefe
rofi.color-active: #05104d, #01fefe, #05104d, #3751da, #01fefe
rofi.color-urgent: #0c5d8a, #e89d99, #0c5d8a, #d41150, #e89d99
! Launcher
rofi.width: 500
rofi.padding: 25
rofi.eh: 1
rofi.lines: 5
rofi.location: 0

! URxvt Config
URxvt*.depth: 32
URxvt*.scrollBar: false
URxvt*.font: xft:Hack:size=12

! Colors
URxvt*background: #05104D
URxvt*foreground: #01FEFE
