
! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #1d232c, #f4f4f5, #bcbcd1
rofi.color-normal: #1d232c, #62627c, #1d232c, #f4f4f5, #62627c
rofi.color-active: #1d252c, #62627c, #1d232c, #f4f4f5, #62627c
rofi.color-urgent: #f4f4f5, #f79295, #62627c, #f4f4f5, #f79295
!rofi.opacity: 80
! Launcher
rofi.width: 500
rofi.padding: 25
rofi.eh: 1
rofi.lines: 5
rofi.location: 0

! URxvt Config
URxvt*.depth: 32
URxvt*.scrollBar: false
URxvt*.font: xft:Hack:size=12

! Colors
URxvt*background: [80]#1D232C
URxvt*foreground: #F4F4F5
